.user-row{
    height: 99%;
    overflow: hidden;
    .ivu-col,.ivu-card{
        height: 99%;
        max-height: 99%;
        overflow-y: hidden
    }
    .right{
        text-align: right;
        margin-bottom: 15px;
    }
    .ivu-card-body{
        height: 92%
    }
    .ivu-row{
        height: 100%
    }
    .col3{
        overflow-y: scroll
    }
    .access-change-access-co,.access-user-con{
        height: 84%
    }
    .access-change-access-con>div,.ivu-table-wrapper{
        height: 100%
    }
    .ivu-table{
        overflow-y: scroll
    }
  .ivu-page{
      margin-top: 10px;
  }
}